ion-icon{
    font-size: 25px;
    padding-left: 5px;
}

.book-new{
    margin-right: 10px;
    text-transform: none;
    --border-radius: 25px;
    --color: #fff;
}
p{
    font-weight: bold;
}
.qr-section{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}