

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background-color: #9e9e9e47;
  }
  
  .heartbeatloader {
    position: absolute;
    width: 50px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    
  }
  
  .svgdraw {
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    animation: rotation 2s infinite linear;
  }
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }